*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #484848;
}
.clearfix:after{
	content: '.';
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.link{
	text-decoration: none;
	cursor: pointer;
}
.page{
	background: #fff;
	position: relative;
}
.page-container{
	padding-bottom: 60px;
}
.block-title{
	font-size: 30px;
	font-weight: 200;
	color: #333;
	text-align: center;
}
.block-header{
	padding: 80px 0;
}
	.hover-block{
		opacity: 0;
		display: none;
		position: fixed;
		z-index: 1000;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.8);
	}
		.popup-window{
			position: relative;
			width: 400px;
			margin: 0 auto;
			border-radius: 4px;
			background: #fff;
			height: 300px;
			padding: 30px;
		}
			.popup-window-close-button{
				position: absolute;
				top: 0;
				right: 0;
				background: #333;
				padding: 5px 8px;
				cursor: pointer;
			}
			.popup-window-close-button:hover{
				background: #888;
			}
				.close-icon{
					color: #fff;
				}
			.popup-window-title{
				font-size: 24px;
				color: #424242;
				font-weight: 200;
			}

			.brief-form{
				
			}
				.brief-form-field{
					margin-top: 15px;
				}
					.brief-form-label{
						margin-top: 15px;
						font-size: 14px;
						color: #424242;
					}
					.brief-form-input{
						margin-top: 10px;
						outline: none;
						width: 100%;
						height: 34px;
						border-radius: 3px;
						border: 1px solid #e0e0e0;
						color: #666;
						padding: 10px 12px;
						font-size: 14px;
						font-weight: 200;
					}
					.brief-form-submit{
						cursor: pointer;
						padding: 7px 10px;
						color: #fff;
						background: #4f4f4f;
						border-radius: 3px;
						margin-top: 15px;
						border-width: 0;
					}
					.brief-form-submit:hover{
						background: #6f6f6f;
					}
/*NAV-TOP*/
	.nav-top{
		
	}
		.nav-top-container{
			padding-top: 20px;
			width: 1000px;
			margin: 0 auto;
		}
			.nav-contacts{
				width: 30%;
				float: left;
				margin-top: 30px;
			}
				.nav-contacts-item{
					
				}
				.nav-contacts-item:nth-last-child(1){
					margin-top: 5px;
					padding-top: 5px;
				}
					.nav-contacts-item-span{
						font-size: 16px;
						line-height: 1.5em;
						color: #424242;
						font-weight: 400;
					}
					.nav-contacts-item-text{
						font-size: 14px;
						color: #bbb;
						font-weight: 200;
					}
			.nav-logo{
				float: left;
				width: 40%;
				text-align: center;
			}
				.nav-logo-img{
					display: inline-block;
				}
					.logo-link{
						display: block;
					}
						.logo-link-img{

						}
				.nav-logo-title{
					margin-top: 10px;
					text-align: center;
				}
					.nav-logo-title-heading{
						border-radius: 2px;
						background: #333;
						display: inline-block;
						font-size: 16px;
						font-weight: 200;
						padding: 10px 15px;
						color: #fff;
					}
			.nav-order{
				float: left;
				width: 30%;
				margin-top: 30px;
			}
				.nav-button-row{

				}
				.nav-button{
					text-align: center;
					float: right;
					padding: 5px 0;
					font-weight: 200;
					border-radius: 2px;
					width: 130px;
					cursor: pointer;
				}
				.nav-order-button{
					background: #424242;
					color: #fff;
				}
				.nav-order-button:hover{
					background: #777;
				}
				.nav-feedback-button{
					font-size: 12px;
					border: 1px solid #424242;
					color: #424242;
					margin-top: 10px;
					padding: 4px 0;
				}
			.nav-menu{
				text-align: center;
				padding: 10px 0;
				margin-top: 30px;
				border-top: 1px solid #333;
				border-bottom: 1px solid #333;
			}
				.nav-links{
					display: inline-block;
				}
					.nav-link-item{
						margin-right: 40px;
						float: left;
					}
					.nav-link-item:nth-last-child(1){
						margin-right: 0;
					}
						.nav-link{
							font-size: 16px;
							font-weight: 200;
							color: #424242;
						}
						.nav-link:hover{
							color: #ccc;
						}
	/*NAV-TOP*/

/*BODY-SLIDER*/
	.slider-block{

	}
		.slider-block-container{
			width: 1000px;
			margin: 0 auto;
		}
			.slider{

			}
				.slide{

				}
					.slide-block-img{
						float: left;
						margin-right: 50px;
						width: 50%;
					}
						.slide-img{
							width: 100%;
							height: auto;
							display: block;
						}
						.slide-content-bottom{
							position: relative;
							top: -50px;
							text-align: center;
							font-size: 20px;
							padding: 10px 0;
							color: #fff;
							
						}
							.lightgreen{
								background: #b5d887;
							}
							.pink{
								background: #eaa4cb;
							}
							.brown{
								background: #e8b76d;
							}
					.slide-block-title{
						float: left;
						width: calc(100% - 50px - 50%);
						position: relative;
						top: 200px;
						transform: translateY(-50%);
					}
						.slide-title{
							font-size: 40px;
							font-weight: 200;
							color: #666;
							text-align: center;
							-webkit-transform:scale(1,1.5); /* Safari and Chrome */
							-moz-transform:scale(1,1.5); /* Firefox */
							-ms-transform:scale(1,1.5); /* IE 9 */
							-o-transform:scale(1,1.5); /* Opera */
							transform:scale(1,1.5); /* W3C */
						}
/*ABOUT DETOX BLOCK*/
	.about-detox-block{
		background: #242b40;
	}
		.about-detox-block-container{
			width: 1200px;
			margin: 0 auto;
		}
			.about-detox-block-heading{
				padding-top: 40px;
				padding-bottom: 40px;
			}
				.about-detox-block-heading-title{
					font-size: 30px;
					color: #fff;
					font-weight: 200;
					text-align: center;
				}
			.about-detox-block-body{

			}
				.about-detox-items-row{
					margin-bottom: 30px;
				}
					.about-detox-item{
						float: left;
						margin-right: 30px;
						width: calc((100% - 60px) / 3);
					}
					.about-detox-item:nth-last-child(1){
						margin-right: 0;
					}
						.about-detox-item-left{
							float: left;
							width: 50px;
							margin-right: 15px;
						}
							.about-detox-item-left-icon{
								width: 100%;
								height: auto;
							}
						.about-detox-item-right{
							float: left;
							width: calc(100% - 65px);
						}
							.about-detox-item-right-heading{
								height: 50px;
							}
								.about-detox-item-right-heading-title{
									font-size: 16px;
									font-weight: 400;
									color: #fff;
									line-height: 50px;
								}
							.about-detox-item-right-body{

							}
								.about-detox-item-right-body-text{
									font-size: 14px;
									font-weight: 200;
									color: #fff;
								}

	.contact-form-block{

	}
		.contact-form-block-container{
			width: 700px;
			margin: 0 auto;
		}
			.contact-form-block-left{
				position: relative;
				float: left;
				width: 50%;
				height: 100%;
			}
				.about-detox-img{
					width: 100%;
					height: auto;
					display: block;
				}
				.about-detox-text{
					position: absolute;
					top:0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(0,0,0,0.6);
					padding: 15px;
				}
				.about-detox-text-title{
					position: relative;
					top: 50%;
					color: #fff;
					text-align: center;
					font-size: 24px;
					font-weight: 400;
				}
			.contact-form-block-right{
				float: left;
				width: 50%;
				height: 350px;
			}
				.about-detox-form{
					border: 1px solid #e0e0e0;
					border-left: none;
					border-radius: 4px;
					padding: 30px;
					height: 100%;
					padding-top: 70px;

				}
					.about-detox-form-heading{
						font-size: 24px;
						font-weight: 200;
						text-align: center;
					}
					.about-detox-form-input{
						margin-top: 30px;
						width: 100%;
						height: 34px;
						border: 1px solid #e0e0e0;
						border-radius: 3px;
						outline: 0;
						padding: 6px 12px;
						font-weight: 200;
						color: #484848;
					}
					.about-detox-form-button{
						margin-top: 30px;
						padding: 10px 0;
						text-align: center;
						background: #333;
						color: #fff;
						font-weight: 200;
						font-size: 16px;
					}
/*ABOUT US BLOCK*/
	.about-us-block{

	}
		.about-us-block-container{
			width: 1000px;
			margin: 0 auto;
		}
			.about-us-block-heading{

			}
				.about-us-block-heading-title{
					font-size: 30px;
					font-weight: 200;
					text-align: center;
					color: #333;
				}
				.about-us-block-body-left{
					float: left;
					width: calc((100% - 15px) / 2);
					margin-right: 15px;
					border-top: 5px solid #333;
					border-bottom: 5px solid #333;
					padding: 10px;
				}
					.about-us-block-body-left-title{

					}
						.about-us-block-body-left-title-heading{
							font-size: 18px;
							color: #333;
							font-weight: 700;
						}
					.about-us-block-body-left-text{

					}
						.about-us-block-body-left-text-p{

						}
				.about-us-block-body-right{
					float: left;
					width: calc((100% - 15px) / 2);
				}
					.about-us-block-body-right-row:nth-last-child(1){
						margin-top: 12px;
					}
						.about-us-block-body-right-row-item{
							float: left;
							margin-right: 10px;
							width: calc((100% - 30px) / 4);
						}
						.about-us-block-body-right-row-item:nth-last-child(1){
							margin-right: 0;
						}
							.about-us-block-body-right-row-item-img{
								width: 100%;
								height: auto;
								display: block;
							}
/*ABOUT US BLOCK*/
	.benefits-block{
		margin-top: 50px;
	}
		.benefits-block-container{
			width: 1000px;
			margin: 0 auto;
		}
			.benefits-block-bg{
				position: relative;
				background-image: url(../img/benefits.jpg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				height: 600px;
			}
				.benefits-block-bg-hover{
					padding: 30px 40px;
					position: absolute;
					top: 60px;
					left: 60px;
					right: 60px;
					bottom: 60px;
					background: rgba(0, 0, 0, .7);
				}
					.benefits-block-bg-img-hover-header{
						padding: 20px 0;
					}
						.benefits-block-bg-img-hover-header-title{
							text-align: center;
							font-size: 30px;
							font-weight: 200;
							color: #fff;
						}
					.benefits-block-bg-img-hover-body{
						overflow: hidden;
					}
						.benefits-block-bg-img-hover-body-text{
							margin-top: 15px;
							font-size: 14px;
							font-weight: 200;
							color: #fff;
							line-height: 1.5em;
							text-align: center;
						}
/*ASSORTMENT*/
	.assortment-block{

	}
		.assortment-block-container{
			width: 1000px;
			margin: 0 auto;
		}
			.assortment-block-header{

			}
				.assortment-block-header-title{
					font-size: 30px;
					color: #666;
					font-weight: 200;
					text-align: center;
				}
			.assortment-block-body{
			}
				.assortment-block-item{
					float: left;
					padding: 15px;
					border: 1px solid #e0e0e0;
					border-radius: 4px;
					margin-right: 30px;
					width: calc((100% - 60px) / 3);
				}
				.assortment-block-item:nth-last-child(1){
					margin-right: 0;
				}
				.assortment-block-item:hover{
					box-shadow: 0 2px 4px rgba(0,0,0,0.1);
				}
					.assortment-block-item-img-block{

					}
						.assortment-block-item-img{
							width: 100%;
							height: auto;
							display: block;
						}
					.assortment-block-item-content{
						position: relative;
					}
						.assortment-block-item-order{
							margin-top: 10px;
							background: #ff737d;
							padding: 3px 5px;
							color: #fff;
							font-weight: 200;
							border-radius: 2px;
							cursor: pointer;
							float: right;
						}
						.assortment-block-item-order:hover{
							background: #ffa0a7;
						}
						.assortment-block-item-content-title{
							font-size: 20px;
							font-weight: 400;
							margin: 10px 0;
							float: left;
						}
						.orange{
							color: #ffc356;
						}
						.red{
							color: #de5f5f;
						}
						.green{
							color: #96d264;
						}
						.assortment-block-item-content-field{
							line-height: 1.5em;
						}
							.assortment-block-item-content-span{
								font-size: 14px;
								font-weight: 400;
								color: #484848;
								line-height: inherit;
							}
							.assortment-block-item-content-value{
								font-size: 14px;
								font-weight: 200;
								color: #666;
								line-height: inherit;
							}
						.assortment-block-item-content-about{
							margin-top: 10px;
						}
							.assortment-block-item-content-text{
								font-size: 12px;
								font-weight: 200;
								color: #777;
								cursor: default;
							}
/*PLAN BLOCK*/
	.plan-block{
		background: #fdfdfd;
	}
		.plan-block-container{
			width: 900px;
			margin: 0 auto;
		}
			.plan-block-header{
			}
				.plan-block-header-title{
					font-size: 30px;
					color: #484848;
					font-weight: 200;
					text-align: center;
				}
			.plan-block-body{
			}
				.plan-block-body-items{

				}
					.plan-block-body-item{
						position: relative;
						float: left;
						margin-right: 60px;
						width: calc((100% - 120px) / 3);
						background: #fff;
					}
					.plan-block-body-item-hover-block{
						display: block;
						opacity: 0;
						z-index: 1000;
						position: absolute;
						top:0;
						left: 0;
						right: 0;
						bottom: 0;
						background: rgba(0, 0, 0, 1);
					}
					.plan-block-body-item:nth-last-child(1){
						margin-right: 0;
					}
						.plan-block-body-item-header{
							text-align: center;
							color: #fff;
							border-radius: 5px 5px 0 0;
							padding: 8px 0;
						}
						.lite{
							background: #99ea99;
						}
						.classic{
							background: #ffcf76;
						}
						.pro{
							background: #ffa3ff;
						}
						.plan-block-body-item-content{
							padding: 30px;
							border: 1px solid #e0e0e0;
							border-top: none;
							text-align: center;
						}
							.plan-block-body-item-title{
								font-size: 25px;
								font-weight: 200;
								color: #484848;
								text-align: center;
								-webkit-transform:scale(1,1.2);
								-moz-transform:scale(1,1.2);
								-ms-transform:scale(1,1.2);
								-o-transform:scale(1,1.2);
								transform:scale(1,1.2);
							}
							.plan-block-body-item-field{
								margin-top: 30px;
								font-size: 16px;
								line-height: 1.5em;
								font-weight: 200;
								color: #424242;
								text-align: center;
								border-bottom: 1px solid #e0e0e0;
								padding-bottom: 10px;
							}
							.more-button{
								cursor: pointer;
								margin-top: 20px;
								border-radius: 2px;
								display: inline-block;
								color: #fff;
								background: #4f4f4f;
								padding: 2px 5px;
								text-align: center;
								font-size: 14px;
								font-weight: 200;
							}
/*CONTACT-BLOCK*/
	.contact-block{
		background: #fff;
	}
		.contact-block-container{
			width: 800px;
			margin: 0 auto;
		}
			.contact-block-heading{
				padding-top: 80px;
				padding-bottom: 80px;
			}
				.contact-block-title{
					font-size: 30px;
					font-weight: 200;
					color: #424242;
					text-align: center;
				}
			.contact-block-content{
				float: left;
				width: 55%;
				margin-right: 50px;
			}
			.contact-block-content-text:first-child{
				margin-top: 0;
			}
			.contact-block-content-text{
				margin-top: 10px;
				font-weight: 300;
				color: #424242;
				font-size: 16px;
				line-height: 1.5em;
			}
			.contact-block-content-text-phone{
				font-size: 20px;
				font-weight: 400;
				color: #424242;
				line-height: 1.5em;
			}
			.contact-block-form{
				float: left;
				width: calc(100% - 50px - 55%);
			}
			.form-title{
				font-size: 24px;
				color: #424242;
				font-weight: 200;
			}
			.form-field-item{
				margin-top: 15px;
			}
				.form-input{
					margin-top: 10px;
					width: 100%;
					height: 34px;
					border: 1px solid #e0e0e0;
					border-radius: 3px;
					outline: 0;
					padding: 6px 12px;
					font-weight: 200;
					color: #484848;

				}
				.form-label{
					display: block;
					font-weight: 200;
					color: #424242;
					font-size: 14px;
				}
				.form-textarea{
					margin-top: 10px;
					width: 100%;
					min-height: 70px;
					border: 1px solid #e0e0e0;
					outline: 0;
					padding: 6px 12px;
					font-weight: 200;
					color: #484848;
				}
				.form-submit-button{
					cursor: pointer;
					margin-top: 20px;
					display: inline-block;
					padding: 7px 10px;
					border-radius: 3px;
					background: #565656;
					color: #fff;
					font-weight: 200;
					font-size: 14px;
				}
				.form-submit-button{
					background: #888;
				}
/*INSTA-BLOCK*/
.insta-block{
	margin-top: 100px;
}
	.insta-block-container{
		width: 900px;
		margin: 0 auto;
	}
		.insta-block-header{

		}
			.insta-block-title{
				text-align: center;
				color: #424242;
				font-weight: 500;
				font-size: 24px;
			}
		.insta-block-body{
			margin-top: 20px;
		}
			.insta-block-slider-wrapper{
				padding: 10px 0;
				border-top: 4px solid #333;
				border-bottom: 4px solid #333;
			}
				.insta-block-slider-content{
					padding-left: 10px;
				}
					.insta-block-slider-content-item{
						/*float: left;*/
						margin-right: 10px;
						/*width: calc((100% - 60px) / 5);*/
					}
					.insta-block-slider-content-item:nth-last-child(1){
						margin-right: 0;
					}
						.insta-img{
							display: block;
							width: 100%;
							height: auto;
						}
/*FOOTER-BLOCK*/
.footer-block{
	margin-top: 50px;
}
.footer-block-container{
	border-top: 1px solid #e0e0e0;
	padding: 30px;
	width: 1000px;
	margin: 0 auto;
}
.footer-block-content{

}
.footer-block-content-left{
	float: left;
}
.footer-block-content-right{
	float: right;
}
	.footer-block-content-span{
		font-size: 14px;
		color: #777;
		line-height: 1.5em;
		font-weight: 200;
	}
		.detox-span{
			font-weight: 500;
			color: #777;
		}
		.follow-span{
			font-weight: 500;
		}
			.soc-icon{
				color: #777;
				margin-left: 10px;
				cursor: pointer;
			}
			.soc-icon:hover{
				color: #ccc;
			}