@media only screen and (max-width: 767px){
	.nav-top-container{
		width: 90%;
		margin: 0 auto;
		padding-top: 20px;
	}
		.nav-logo{
			display: block;
			float: none;
			text-align: center;
		}
			.nav-logo-img{
				float: none;
				display: block;
				text-align: center;
			}
			.logo-link{
				display: inline-block;
			}
				.logo-link-image{
					display: block;
				}
			.nav-logo-title{
				display: block;
				text-align: center;
				float: none;
				padding: 20px 0;
			}
				.nav-logo-title-heading{
					display: inline-block;
					font-weight: 400;
					line-height: 1em;
				}
		.nav-links{
			display: block;
			float: none;
		}
			.nav-link-item{
				float: none;
				text-align: center;
				margin: 0;
				padding: 10px 0;
			}
				.nav-link{
					line-height: normal;
				}
		.line-between{
			display: none;
		}
		.slider-block-container{
			width: 90%;
		}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.nav-top-container{
		padding-top: 20px;
		width: 750px;
		text-align: center;
	}
		.nav-logo{
			float: none;
			margin: 0 auto;
			text-align: center;
		}
			.nav-logo-img{
				float: none;
				display: inline-block;
			}
				.logo-link{
					display: block;
				}
					.logo-link-img{
						display: block;
						height: 90px;
						width: 90px;
					}
			.line-between{
				display: none;
				position: relative;
				float: none;
				height: 50px;
				top: 25px;
				/*transform: translateY(-50%);*/
				width: 1px;
				background: #999;
				margin-right: 15px;
				opacity: 0.4;
				margin-left: 10px;
			}
			.nav-logo-title{
				float: none;
				display: block;
			}
				.nav-logo-title-heading{
					font-size: 24px;
					font-weight: 200;
					line-height: 50px;
					color: #666;
				}
		.nav-links{
			display: inline-block;
			text-align: center;
			float: none;
		}
	.slider-block-container{
		width: 750px;
	}
		.slide-title{
			font-size: 25px;
		}
		.img-title.img-title{
			top: -50px;
		}
		.img-title-heading{
			font-size: 25px;
		}
	.about-detox-block-container{
		width: 750px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.nav-top-container{
		width: 970px;
	}
	.slider-block-container{
		width: 970px;
	}

}